body{
    font-family: 'League Spartan', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/teste.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#0C4271;
    
}
.principal{
    width: 700px;
    height: 680px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 7px solid rgb(236, 233, 233);
    border-radius: 30px;
    margin: auto;
    
}

header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px; 
   
}

a{
    color: rgb(112, 111, 111);
    font-weight: bold;
    font-size: 20px; 
}

a:hover{
    color:rgb(202, 86, 223);
    font-weight: bold;
    transition: 0.3s all;
}

li{
    display: inline-block;
    margin: 20px;
}


input{
    height: 10px;
    padding: 15px;
    border-radius: 9px;
    font-size: 15px;
    color: rgb(202, 86, 223);
}

.titulo{
    color: rgb(202, 86, 223);
    font-size: 40px;
    font-weight:bold;
    align-items: center;
    justify-content: center;
    
}


form [type="submit"]{
    height: 45px;
    width: 150px;
    background-color: rgb(202, 86, 223);
    color: white;
    font-weight: bold;
    border: 9px;   
    cursor: pointer;
    font-size: 20;
}

form [type="submit"]:hover{
    background-color: white;
    transition: 0.3s all;
    color: rgb(202, 86, 223);
    border: 3px solid rgb(202, 86, 223);
    border-radius: 9px;
    
   
}

.link{
    color: #0C4271;
}

