body{
    grid-template-areas: "a a a"
                        "b b b"
                        "c c c";
    font-family: 'League Spartan', sans-serif;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
  color: #555455;
}

#login{
  color: #FFFFFF;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
}

header{
  grid-area: a;
  background-image: url(icons/canto-direito.png);
  background-repeat: no-repeat;
  background-size: 600px 300px;
  background-position: right;
  height: 250px;
}

section{
  grid-area:b;
}
footer{
  grid-area: c;
}
.mae-bloco{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
.bloco{
  border-width: 4px;
  border-color: #F2F2F2;
  border-style: solid;
  border-radius: 30px;
  width: 850px;
  background-color: white;
  height: 80%;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b"
                      "c d"
                      "e f";
  grid-gap: 3%;
}
/*.conteudo-servicos{
  margin: 10%;
}*/
.conteudo-servicos{
    margin-left: 20%;
    margin-top: 5%;
    color:#555455;
}

.conteudo-servicos h1{
  color: #CB6CE6;
}

.conteudo{
  width:100%;
}

.img{
  float: left;
  height:100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao{
  float: left;
  height:90%;
  width: 65%;
  margin-left: 2%;
}
.titulo{
  height:40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CB6CE6;
}
.texto{
  height:60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555455;
  text-align: center;
}

.banho{
  background-color: #F2F2F2;
  grid-area: a;
}

.bloco-banho{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}

.daycare{
  background-color: #F2F2F2;
  grid-area: b;
}

.bloco-daycare{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}

.walker{
  background-color: #F2F2F2;
  grid-area: c;
}

.bloco-walker{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}

.petsitter{
  background-color: #F2F2F2;
  grid-area: d;
}

.bloco-petSitter{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}

.consulta{
  background-color: #F2F2F2;
  grid-area: e;
}

.bloco-consultaVet{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}

.hospedagem{
  background-color: #F2F2F2;
  grid-area: f;
}

.bloco-hospedagem{
  margin: 2%;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  padding: 2%;
}
